
// TARJETA DE PRODUCTOS
.card {
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

.card .card-img-top {
  max-height: 250px;
  width: auto;
  object-fit: cover;
}

// MEDALLA DE UNIDADES---------------------
.producto .badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.badge-info {
  background-color: #17a2b8;
  color: rgb(0, 0, 0);
}
// FIN MEDALLA DE UNIDADES-----------------
.filled{
    color: green;
}
// MODIFICAMOS COLORES DEL CAROUSEL
.carousel-control-prev,
.carousel-control-next {
  background-color: transparent; 
  color: black; 
  border-radius: 5px; 
  margin-top: 15%;
  max-width: 2%;
  max-height: 10%;
}

.carousel-control-prev-icon{
  background-image: url('../../../assets/img/felchaderecha.svg');
  transform: scale(-1);
}
.carousel-control-next-icon{
  background-image: url('../../../assets/img/felchaderecha.svg');
}

.btn{
    width: 100%;
}

h2 {
    margin-top: 1rem;
}
.icon-img{
    max-width: 30px;
    margin-bottom: 10px;
}

// ESTILOS PARA LOS PRECIOS Y DESCUENTOS
.pricing {
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
}

.new-price {
  padding-right: 10px;
  color: #333;
  font-weight: bold;
}

.old-price {
  color: #999;
  text-decoration: line-through;
}

.discount {
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
}
// FIN ESTILOS PARA LOS PRECIOS Y DESCUENTOS

// MEDIAS QUERYS

@media screen and (max-width: 768px) {

  .container-fluid{
    max-width: 100%;
  }
  #miCarrusel{
    max-width: 100%;
    padding: 0 15%;
  }
  
  .container-banner{
    flex-direction: column;
    text-align: center;
  }
  .image-banner{
    margin-top: 20px;
  }
  .image-banner img {
    max-width: 80%;
  }
  
  .card {
    flex: 0 0 50%; 
    max-width: 45%; 
    max-height: 300px;
    overflow: hidden;
    font-size: 7px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
  }

  .card .card-img-top {
    max-height: 110px;
    width: auto;
    object-fit: contain;
  }
  .btn {
    width: 100%;
    // margin-top: auto;
    height: 40px;
    font-size: 14px;
  }

  .price {
    display: block;
    font-size: 14px;
  }

  .carousel-control-prev,
.carousel-control-next { 
  padding-top: 50px;
  max-width: 7%;
}
}

@media (max-width: 992px) {
  .carousel-item .row {
    justify-content: center; 
  }
  .carousel-control-prev,
.carousel-control-next {
  margin-top: 25%;
}
}
