<!-- FIN BANNER PRINCIPAL -->
<div class="container-fluid text-center">
  <h2>Productos destacados <img src="../../../assets/icons/king.png" class="icon-img" alt="icono rey de las bebidas">
  </h2>
  <div class="row">
    <div id="miCarrusel" class="carousel slide" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <!-- INICIO CARD -->
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/CIMESPERA600.webp" class="card-img-top" alt="agua cimes" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <!-- FINAL CARD -->
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/aguaManaos6L.jpg" class="card-img-top" alt="agua manaos de 6L" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/AguaManaos500.webp" class="card-img-top" alt="agua manaos de 500cc" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/AguaManaos500.webp" class="card-img-top" alt="agua manaos" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/altavistavino.jpg" class="card-img-top" alt="vino tinto" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <!-- INICIO CARD -->
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/cocacola2.jpg" class="card-img-top" alt="coca cola 2l" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <!-- FINAL CARD -->
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/BRIOMANZANA15.jpg" class="card-img-top" alt="jugo manzana brio" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/BRIONARANJA15.jpg" class="card-img-top" alt="jugo naranja brio" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/BRIOPOMELO15.jpg" class="card-img-top" alt="jugo brio pomelo" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
            <div class="card m-2 col-sm-4 col-lg-4 col-md-6 col-12" style="width: 16rem;">
              <img src="../../../assets/img/CIMESPERA600.jpg" class="card-img-top" alt="jugo cimes pomelo" width="256" height="256">
              <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
                </div>
                <div class="pricing">
                  <span class="price new-price">$2.799,00</span>
                  <span class="price old-price">$2.999,00 -</span>
                </div>
                <a routerLink="/productos" class="btn btn-danger">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Repite para más cards -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
