<div class="container text-center">
  <h2>Productos destacados <img src="../../../assets/icons/king.png" class="icon-img" alt="icono rey de las bebidas"></h2>
  <div class="row">
    <div id="miCarrusel" class="carousel slide" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex">
            <!-- INICIO CARD -->
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/AGUACIMES600.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <!-- FINAL CARD -->
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/aguaManaos2L.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the Producto 2 and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/AguaManaos500.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 3</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the Producto 2 and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/aguaManaos6L.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 4</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the Producto 2 and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/altavistavino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 5</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the Producto 2 and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex">
            <!-- INICIO CARD -->
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/cocacola15.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 6</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, possimus?.
                </p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <!-- FINAL CARD -->
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/BRIOMANZANA15.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 7</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, possimus?.
                </p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/BRIONARANJA15.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 8</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, possimus?.
                </p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/BRIOPOMELO15.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 9</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, possimus?.
                </p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
              <img src="../../../assets/img/CIMESPERA600.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 10</h5>
                <div class="producto">
                  <span class="badge badge-info">Pack 6 Unidades</span>
                </div>
                <div class="rating">
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star filled">★</span>
                  <span class="star">☆</span>
              </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-danger">Ver màs</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Repite para más cards -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>
