    <div class="container-fluid site-footer">
      <div class="row">
        <div class="col-sm-12 col-md-6 nosotros">
          <h6>Acerca de nosotros</h6>
          <p class="text-justify"> <i>Ivan Ertel Ramirez</i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic aperiam deserunt veniam,
             deleniti dolores non sunt assumenda ipsa mollitia aliquid sint error fugit quae vel iusto ut modi minus nemo nulla? Fugit quae ex qui. Aperiam aut 
             dolorum sint itaque accusantium, possimus doloribus explicabo reiciendis nam consectetur libero cupiditate tempora? </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Almacen</a></li>
            <li><a href="#">Bebidas</a></li>
            <li><a href="#">Cigarrillos</a></li>
            <li><a href="#">Enlatados</a></li>
            <li><a href="#">Gaseosas</a></li>
            <li><a href="#">Importados</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Links de ayuda</h6>
          <ul class="footer-links">
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023. Diseñado por 
       <a href="#"> Ivan Ertel Ramirez</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.linkedin.com/in/alan-ivan-ertel/"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.linkedin.com/in/alan-ivan-ertel/"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://www.linkedin.com/in/alan-ivan-ertel/"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/alan-ivan-ertel/"><i class="fab fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
