.logo-img {
    width: 150px; 
    height: auto; 
  }

  a.nav-link.hover-navbar.active{
    transition: all 0.2s ease;
    font-weight: 800;
    color: #333;
  }

  .hover-navbar:hover{
    font-size: 105%;
    border-bottom: 2px solid #02af02;
  }

  .input-group .form-control {
    border-radius: 25px;
  }
  
  .input-group-text {
    border-radius: 0 25px 25px 0;
    background-color: red;
    border: none;
  }
  
  .input-group .fa-search {
    color: white; 
    cursor: pointer;
  }