<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/img/vineria-Logo.png" alt="distribuidora de bebidas logo" class="logo-img" routerLink="/home">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-contenido" aria-controls="navbar-contenido" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-auto" id="navbar-contenido">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link hover-navbar active" routerLinkActive="router-link-active" aria-current="page" href="#" routerLinkActive="router-link-active" routerLink="/home">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link hover-navbar active" routerLinkActive="router-link-active" routerLink="/productos">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link hover-navbar active" routerLinkActive="router-link-active" href="/home#contenedor-contacto">Contacto</a>
              </li>
          </ul>
      </div>
      <form class="d-flex form-buscar" role="search">
        <div class="input-group">
            <input class="form-control agrandar-input" type="search" placeholder="Hola! ¿Qué estas buscando?" aria-label="Search" #busqueda (keyup)="buscar(busqueda.value)">
            <span class="input-group-text" (click)="buscar(busqueda.value)">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </form>
  </div>
</nav>
