<div class="container mt-5">
  <h2 class="text my-4">Categorías Destacadas <img src="/assets/icons/podium.png" class="icon-img" alt="icono rey de las bebidas"></h2>
  <div class="row">

    <!-- Tarjeta de categoría -->
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="category-card">
        <img src="/assets/img/categoria-almacen.webp" alt="Bebidas">
        <h3 class="category-title">Almacen</h3>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="category-card">
        <img src="../../../assets/img/categoria-bebida.jpg" alt="Bebidas">
        <h3 class="category-title">Bebidas</h3>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="category-card">
        <img src="../../../assets/img/categoria-cigarrillos.jpg" alt="Bebidas">
        <h3 class="category-title">Cigarrillos</h3>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="category-card">
        <img src="../../../assets/img/categoria-enlatados.jpg" alt="Bebidas">
        <h3 class="category-title">Enlatados</h3>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="category-card">
        <img src="../../../assets/img/categoria-gaseosas.jpg" alt="Bebidas">
        <h3 class="category-title">Gaseosas</h3>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="category-card">
          <img src="../../../assets/img/categoria-importados.jpg" alt="Bebidas">
          <h3 class="category-title">Importados</h3>
        </div>
      </div>
  </div>
</div>
