
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.category-title {
  font-size: 1rem;
  color: #000000;
}

.category-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.category-card {
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  }
}

// CAROUSEL MARCAS
.text{
  color: rgb(0, 0, 0);
}
.container .icon-img {
  max-width: 30px;
}

.carousel-marcas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carousel-marcas .item {
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.carousel-marcas .item img {
  max-width: 50%;
  height: auto;
}

@media (max-width: 768px) {

  .text {
    text-align: center;
    font-size: 22px;
  }

  .carousel-marcas {
    flex-wrap: wrap;
    justify-content: center;
  }
  .carousel-marcas .item img {
    max-width: 140px;
    height: auto;
  }

}
@media (max-width: 575px){

  .div-category{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

   .col-sm-6 {
     max-width: 50%;
   }
}
