.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.category-title {
  font-size: 1rem;
  color: #000000;
}

.category-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.category-card {
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  }
}

// CAROUSEL MARCAS
.container .icon-img {
  max-width: 30px;
  margin-bottom: 10px;
}

.carousel-marcas {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.carousel-marcas .item {
  text-align: center;
  flex: 1;
  padding: 0 10px;
}

.carousel-marcas .item img {
  padding: 20px;
  max-width: 150%;
  max-height: 50%;
  display: block;
}

@media (max-width: 768px) {

  .text {
    text-align: center;
    font-size: 22px;
  }

  .carousel-marcas {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .carousel-marcas .item {
    width: 45%;
    padding-left: 40px;
  }

  .carousel-marcas .item img {
    max-width: 160px;
    height: auto;
  }

}
@media (max-width: 575px){

  .div-category{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

   .col-sm-6 {
     max-width: 50%;
   }
}
