<div id="contenedor-contacto" class="container-fluid mt-5">
  <div id="contacto" class="container mt-5 mb-5 col-12">
    <h2 class="texto-form">Formulario de Contacto</h2>
    <form>
      <div class="form-group">
        <label class="texto-form" for="email">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required>
      </div>
      <div class="form-group">
        <label for="nombre" class="texto-form">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
      </div>
      <div class="form-group">
        <label for="mensaje" class="texto-form" class="texto-form">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje aquí" required></textarea>
      </div>
      <button type="submit" class="btn btn-enviar btn-primary mt-5">Enviar Mensaje</button>
    </form>
  </div>

  <!--Mapa Google-->

  <div id="google-map" class="container mt-5 col-12">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.5594465979298!2d-58.58141472339136!3d-34.463329550099004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca5383e5b949f%3A0x2476e6dd9921a475!2sAv.%20Avellaneda%204251%2C%20B1645CQH%20Virreyes%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2sus!4v1704667930453!5m2!1ses-419!2sus"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
<div class="linea-divisoria"></div>
<a href="https:/wa.me/(tuNumeroDeWhatsapp)" class="wpp-float" target="_blank">
  <img src="../../../assets/img/wpp.png" alt="contacta con nosotros por whatsapp">
</a>
